/algoritmo1/target/
/algoritmo2/target/
/algoritmo3/target/
/algoritmo4/target/
/algoritmo5/target/
/algoritmo6/target/
/algoritmo7/target/
/algoritmo8/target/
/algoritmo9/target/
/algoritmo10/target/
/algoritmo11/target/
/algoritmo12/target/
/algoritmo13/target/
/algoritmo14/target/
/algoritmo15/target/
/algoritmo16/target/
/algoritmo17/target/
/algoritmo18/target/
/algoritmo19/target/
/algoritmo20/target/
/algoritmo21/target/
/algoritmo22/target/
/algoritmo23/target/
/algoritmo24/target/
/algoritmo25/target/
/algoritmo26/target/
/algoritmo27/target/
/algoritmo28/target/
/algoritmo29/target/
/algoritmo32/target/
/algoritmo31/target/
/algoritmo30/target/
/algoritmo33/target/
/algoritmo34/target/
/algoritmo35/target/
/algoritmo36/target/
/algoritmo37/target/
/algoritmo38/target/
/algoritmo39/target/
/algoritmo40/target/
/algoritmo41/target/
/algoritmo42/target/
/algoritmo43/target/
/algoritmo44/target/
/algoritmo45/target/
/algoritmo46/target/
/algoritmo47/target/
/algoritmo48/target/